@property --animate-border {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes border-effect {
  0% {
    --animate-border: 0deg;
  }

  100% {
    --animate-border: 360deg;
  }
}

:root {
  --primary-color: #242f36;
  --secondary-color: #0f161a;
  --accent-one: #3e3a47;
  --accent-two: #777887;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  color: #FFF;
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: var(--secondary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

#app {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
        "titles"
        "nameloc"
        "slogan"
        "langs"
        "tools"
        "portfolio"
        "contact"
        "social"
        "portrait"
        "trait"
        "persona";
  row-gap: 1rem;
  overflow-x: hidden;
}

#developer-titles {
  grid-area: titles;
  width: auto;
  background-color: var(--primary-color);
  display: flex;
  white-space: wrap;
}

#developer-titles::part(ds-text-title) {
  white-space: wrap;
  font-size: 1.4rem;
  padding: 1rem;
}


#wrap-info {
  grid-area: nameloc;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 1rem;
}

#wrap-info ::part(ds-text-title) {
  font-size: 1.4rem;
}

#slogan {
  grid-area: slogan;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 1rem 0.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#slogan::part(ds-slogan-text) {
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin: 0;
}

#slogan::part(ds-slogan-button) {
  padding: 1rem;
  font-size: 1.3rem;
  color: #FFF;
  position: relative;
  background: linear-gradient(45deg, #ea698b, #c05299, #ac46a1, #973aa8, #6247aa);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow .3s ease;
  float: right;
}

#grid-langs {
  grid-area: langs;
}

#grid-tools {
  grid-area: tools;
}

#grid-langs,
#grid-tools {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  row-gap: 10px;
  padding: 1rem;
}

#portfolio {
  grid-area: portfolio;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 15px;
  height: 50svh;
}

ds-project-wrapper::-webkit-scrollbar {
  height: .8rem;
}

ds-project-wrapper::-webkit-scrollbar-track {
  background: #B3E5FC;
  border-radius: 10px;
}

ds-project-wrapper::-webkit-scrollbar-thumb {
  background: #0288D1;
  border: 4px solid #4FC3F7;
  border-radius: 10px;
}

#portfolio ds-project {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  overflow: hidden;
  border-radius: 15px;
  background-color: #242f36;
  position: relative;
  height: 90%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

::part(project-title) {
  width: 100%;
  text-align: center;
  background: linear-gradient(45deg, #ea698b, #c05299, #ac46a1, #973aa8, #6247aa);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 2rem;
}


::part(interactive-wrapper) {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
}

::part(resource),
::part(expand-to-modal) {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.4rem;
  text-decoration: none;
  background: linear-gradient(45deg, #ea698b, #c05299, #ac46a1, #973aa8, #6247aa);
  border-radius: 15px;
  margin: 5px 0;
  padding: 10px 30px;
  color: #FFF;
}

::part(svg) {
  width: 20px;
  height: 20px;
  align-self: center;
}

::part(svg-left) {
  margin-right: 0.5rem;
}

::part(svg-right) {
  margin-left: 1.5rem;
}

::part(transparent-bg) {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.76);
  transition: .3s linear;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

::part(expand-to-modal) {
  cursor: pointer;
}

ds-contact {
  grid-area: contact;
  border-radius: 15px;
  padding: 1rem 0;
}

::part(contact-title) {
  font-size: 2rem;
}

::part(label) {
  font-size: 1.4rem;
}

#social {
  grid-area: social;
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 100%;
  gap: 10%;
  justify-content: center;
  padding: 1rem 0;
}

#social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
}

#portrait {
  grid-area: portrait;
  height: 50svh;
  border-radius: 15px;
}


ds-trait {
  grid-area: trait;
  background-color: var(--primary-color);
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr min-content 1fr 1fr;
  position: relative;
  margin: 0.5rem 0.3rem;
}

ds-trait::before,
ds-trait::after {
  content: "";
  position: absolute;
  inset: -2px;
  z-index: -1;
  background: linear-gradient(var(--animate-border),
  #EF9A9A,
  #EF5350,
  #E53935,
  #C62828);
  animation: border-effect 10s linear infinite;
  border-radius: inherit;
}

ds-trait::after {
  filter: blur(1rem);
}

ds-trait::part(trait1) {
  font-size: 3rem;
  color: #ffcc9d;
}

ds-trait::part(trait2) {
  font-size: 2.7rem;
  color: #607D8B;
}

ds-trait::part(trait3) {
  font-size: 3.2rem;
  color: #F9A825;
}

ds-trait::part(trait4) {
  font-size: 2.5rem;
  color: #9c9c9c;
}


#persona {
  grid-area: persona;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 1rem 1.5rem;
  width: 100%;
  margin-bottom: 20px;
}

#persona::part(ds-text-title) {
  font-size: 2.5rem;
}

#persona .about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.why-wrapper {
  background: linear-gradient(200deg, rgba(201, 123, 213, 0.7), rgba(186, 104, 200, 0.7), rgba(103, 58, 183, 0.7));
}

.who-wrapper {
  background: linear-gradient(200deg, rgba(239, 162, 73, 0.5), rgba(171, 113, 46, 0.5), rgba(61, 40, 16, 0.5));
}

.how-wrapper {
  background: linear-gradient(200deg, rgba(224, 54, 54, 0.5), rgba(154, 37, 37, 0.5), rgba(61, 14, 14, 0.5));
}

.inner-wrapper {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 1.5rem 0;
}

.inner-wrapper ds-svg-wrap {
  margin: 0.5rem 0;
}

.inner-wrapper h3 {
  width: 100%;
  font-size: 2rem;
  background-color: var(--primary-color);
  text-align: center;
  padding: 0.5rem 0;
}

.inner-wrapper p {
  font-size: 1.6rem;
  padding: 0 1rem;
  text-align: center;
  margin-top: 0.5rem;
}

#persona .about-container p {
  margin-bottom: 1rem;
}

ds-text {
  background-color: var(--primary-color);
}

ds-modal {
  display: none;
}


@media only screen and (min-width: 420px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 450px) {
  #app {
    width: 470px;
  }
}


/*body {*/
/*  height: 100svh;*/
/*  overflow-y: hidden;*/
/*}*/

/*!* Replace with composing component. *!*/
/*#app {*/
/*  display: grid;*/
/*  grid-template-rows: minmax(40px, auto) repeat(9, 1fr) minmax(40px, auto);*/
/*  grid-template-columns: minmax(40px, auto) repeat(5, 1fr) minmax(40px, auto);*/
/*  grid-template-areas:*/
/*    ". . . . . . ."*/
/*    ". slogan slogan slogan titles titles ."*/
/*    ". slogan slogan slogan portrait nameloc ."*/
/*    ". slogan slogan slogan portrait contact ."*/
/*    ". slogan slogan slogan portrait contact ."*/
/*    ". langs tools trait portrait contact ."*/
/*    ". langs tools trait social contact ."*/
/*    ". portfolio portfolio portfolio persona persona ."*/
/*    ". portfolio portfolio portfolio persona persona ."*/
/*    ". portfolio portfolio portfolio persona persona ."*/
/*    ". . . . . . ."*/
/*  ;*/
/*  gap: 20px;*/
/*  height: 100%;*/
/*  position: relative;*/
/*}*/

/*#grid-langs {*/
/*  grid-area: langs;*/
/*  position: relative;*/
/*  display: grid;*/
/*  grid-template-columns: repeat(5, auto);*/
/*  grid-auto-rows: min-content;*/
/*  row-gap: 5%;*/
/*  width: 100%;*/
/*  padding: 10px;*/
/*  height: 100%;*/
/*}*/

/*#grid-tools {*/
/*  grid-area: tools;*/
/*  position: relative;*/
/*  display: grid;*/
/*  grid-template-columns: repeat(5, auto);*/
/*  grid-auto-rows: min-content;*/
/*  row-gap: 5%;*/
/*  width: 100%;*/
/*  padding: 10px;*/
/*  height: 100%;*/
/*}*/

/*#langs,*/
/*#tools {*/
/*  display: grid;*/
/*  grid-template-columns: repeat(5, auto);*/
/*  gap: 3%;*/
/*  width: 100%;*/
/*  height: min-content;*/
/*  overflow: hidden;*/
/*  padding: 10px;*/
/*}*/

/*#social {*/
/*  grid-area: social;*/
/*  display: grid;*/
/*  grid-template-columns: repeat(4, auto);*/
/*  width: 100%;*/
/*  gap: 10%;*/
/*  justify-content: center;*/
/*}*/

/*#social a {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  width: min-content;*/
/*}*/

/*ds-text {*/
/*  background-color: var(--primary-color);*/
/*}*/

/*#developer-titles {*/
/*  grid-area: titles;*/
/*  border-radius: 15px;*/
/*  padding-left: 12px;*/
/*}*/

/*#wrap-info {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: space-evenly;*/
/*  background-color: var(--primary-color);*/
/*  grid-area: nameloc;*/
/*  border-radius: 15px;*/
/*}*/

/*#wrap-info ds-text {*/
/*  margin: 10px;*/
/*}*/

/*#wrap-info ds-text ds-svg-wrap {*/
/*  margin-right: 5px;*/
/*}*/

/*ds-contact {*/
/*  grid-area: contact;*/
/*  border-radius: 15px;*/
/*  transition: box-shadow .5s ease-in-out;*/
/*}*/

/*ds-contact:hover,*/
/*ds-contact:focus {*/
/*  box-shadow:*/
/*    0 0 0.2rem #FFF,*/
/*    0 0 1rem #546E7A,*/
/*    0 0 1.5rem #546E7A,*/
/*    0 0 2.8rem #546E7A,*/
/*    inset 0 0 2.8rem #546E7A;*/
/*}*/

/*ds-trait {*/
/*  grid-area: trait;*/
/*  background-color: var(--primary-color);*/
/*  padding: 10px;*/
/*  display: grid;*/
/*  grid-template-rows: 1fr min-content 1fr 1fr;*/
/*  position: relative;*/
/*}*/


/*ds-trait::before,*/
/*ds-trait::after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  inset: -2px;*/
/*  z-index: -1;*/
/*  background: linear-gradient(var(--animate-border),*/
/*      #EF9A9A,*/
/*      #EF5350,*/
/*      #E53935,*/
/*      #C62828);*/
/*  animation: border-effect 10s linear infinite;*/
/*  border-radius: inherit;*/
/*}*/

/*ds-trait::after {*/
/*  filter: blur(1rem);*/
/*}*/

/*ds-trait::part(trait1) {*/
/*  font-size: 1.8rem;*/
/*  color: #ffcc9d;*/
/*}*/

/*ds-trait::part(trait2) {*/
/*  font-size: 1.5rem;*/
/*  color: #607D8B;*/
/*}*/

/*ds-trait::part(trait3) {*/
/*  font-size: 2.2rem;*/
/*  color: #F9A825;*/
/*}*/

/*ds-trait::part(trait4) {*/
/*  font-size: 1.4rem;*/
/*  color: #9c9c9c;*/
/*}*/

/*#slogan {*/
/*  grid-area: slogan;*/
/*  background-color: var(--primary-color);*/
/*  border-radius: 15px;*/
/*  padding: 40px;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  width: 100%;*/
/*  box-sizing: border-box;*/
/*}*/

/*::part(ds-slogan-text) {*/
/*  font-size: 4rem;*/
/*  width: 100%;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

/*::part(ds-slogan-button) {*/
/*  width: 200px;*/
/*  height: 60px;*/
/*  margin-top: 10px;*/
/*  font-size: 1.5rem;*/
/*  color: #FFF;*/
/*  position: relative;*/
/*  background: linear-gradient(45deg, #ea698b, #c05299, #ac46a1, #973aa8, #6247aa);*/
/*  border: none;*/
/*  border-radius: 10px;*/
/*  cursor: pointer;*/
/*  transition: box-shadow .3s ease;*/
/*  float: right;*/
/*}*/

/*::part(ds-slogan-button):hover {*/
/*  box-shadow:*/
/*  0 0 0.2rem #FFF,*/
/*  0 0 1rem #9d4edd,*/
/*  0 0 1.5rem #9d4edd,*/
/*  0 0 2.8rem #9d4edd,*/
/*  inset 0 0 2.8rem #9d4edd;*/
/*  ;*/
/*}*/

/*#portfolio {*/
/*  grid-area: portfolio;*/
/*  background-color: var(--primary-color);*/
/*  border-radius: 15px;*/
/*  padding: 10px 10px 0 10px;*/
/*}*/


/*ds-project-wrapper {*/
/*}*/

/*ds-project-wrapper::-webkit-scrollbar {*/
/*  height: .8rem;*/
/*}*/

/*ds-project-wrapper::-webkit-scrollbar-track {*/
/*  background: transparent;*/
/*  border-radius: 10px;*/
/*}*/

/*ds-project-wrapper:hover::-webkit-scrollbar-track {*/
/*  background: #B3E5FC;*/
/*}*/

/*ds-project-wrapper::-webkit-scrollbar-thumb {*/
/*  background: transparent;*/
/*  border-radius: 10px;*/
/*}*/

/*ds-project-wrapper:hover::-webkit-scrollbar-thumb {*/
/*  background: #0288D1;*/
/*  border: 4px solid #4FC3F7;*/
/*}*/

/*#persona {*/
/*  grid-area: persona;*/
/*  padding: 10px;*/
/*}*/

/*#persona::part(ds-text-title) {*/
/*  display: none;*/
/*}*/

/*#persona .about-container {*/
/*  display: flex;*/
/*  justify-content: space-around;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/

/*.why-wrapper {*/
/*  background: linear-gradient(200deg, rgba(201, 123, 213, 0.7), rgba(186, 104, 200, 0.7), rgba(103, 58, 183, 0.7));*/
/*}*/

/*.who-wrapper {*/
/*  background: linear-gradient(200deg, rgba(239, 162, 73, 0.5), rgba(171, 113, 46, 0.5), rgba(61, 40, 16, 0.5));*/
/*}*/

/*.how-wrapper {*/
/*  background: linear-gradient(200deg, rgba(224, 54, 54, 0.5), rgba(154, 37, 37, 0.5), rgba(61, 14, 14, 0.5));*/
/*}*/

/*.inner-wrapper {*/
/*  border-radius: 15px;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  width: 30%;*/
/*  height: 100%;*/
/*}*/

/*.inner-wrapper ds-svg-wrap {*/
/*  margin: 5px 0;*/
/*}*/

/*.inner-wrapper h3 {*/
/*  width: 100%;*/
/*  font-size: 1.2rem;*/
/*  background-color: var(--primary-color);*/
/*  text-align: center;*/
/*  padding: 5px 0;*/
/*}*/

/*.inner-wrapper p {*/
/*  font-size: 0.9rem;*/
/*  width: 90%;*/
/*  text-align: center;*/
/*  margin-top: 5px;*/
/*}*/

/*#persona .about-container p {*/
/*  margin-bottom: 10px;*/
/*}*/

/*#portrait {*/
/*  grid-area: portrait;*/
/*  background-color: var(--primary-color);*/
/*  border-radius: 15px;*/
/*}*/
