/*
* Source of color palette: https://colorhunt.co/palette/0306373c0753720455910a67
*/

:root {
  --primary-color: #242f36;
  --secondary-color: #0f161a;
  --accent-one: #3e3a47;
  --accent-two: #777887;
}

* {
  box-sizing: border-box;
  color: #FFF;
  padding: 0;
  margin: 0;
}

body {
  height: 100svh;
  width: 100%;
  background-color: var(--secondary-color);
  overflow-y: hidden;
}

/* Replace with composing component. */
main {
  display: grid;
  grid-template-rows: minmax(40px, auto) repeat(9, 1fr) minmax(40px, auto);
  grid-template-columns: minmax(40px, auto) repeat(5, 1fr) minmax(40px, auto);
  grid-template-areas:
    ". . . . . . ."
    ". hero hero hero titles titles ."
    ". hero hero hero portrait nameloc ."
    ". hero hero hero portrait contact ."
    ". hero hero hero portrait contact ."
    ". langs tools trait portrait contact ."
    ". langs tools trait social contact ."
    ". portfolio portfolio portfolio persona persona ."
    ". portfolio portfolio portfolio persona persona ."
    ". portfolio portfolio portfolio persona persona ."
    ". . . . . . ."
  ;
  gap: 20px;
  height: 100%;
}


ds-persona {
  grid-area: persona;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 10px 15px;
}

#grid-langs {
  grid-area: langs;
  box-shadow:
    0 0 0.2rem #FFF,
    0 0 1rem #43A047,
    0 0 1.5rem #43A047,
    0 0 2.8rem #43A047,
    inset 0 0 2.8rem #43A047;
}

#grid-tools {
  grid-area: tools;
  box-shadow:
    0 0 0.2rem #FFF,
    0 0 1rem #3949AB,
    0 0 1.5rem #3949AB,
    0 0 2.8rem #3949AB,
    inset 0 0 2.5rem #3949AB;
}

#langs,
#tools {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 3%;
  width: 100%;
  height: min-content;
  overflow: hidden;
  padding: 10px;
}

#social {
  grid-area: social;
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 100%;
  gap: 10%;
  justify-content: center;
}

#social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
}

ds-text {
  background-color: var(--primary-color);
}

#developer-titles {
  grid-area: titles;
  border-radius: 15px;
  padding-left: 12px;
}

#wrap-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--primary-color);
  grid-area: nameloc;
  border-radius: 15px;
}

#wrap-info ds-text {
  margin: 10px;
}

#wrap-info ds-text ds-svg-wrap {
  margin-right: 5px;
}

ds-contact {
  grid-area: contact;
  border-radius: 15px;
}

ds-trait {
  grid-area: trait;
  background-color: var(--primary-color);
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr 1fr;
  z-index: 5;
  box-shadow:
    0 0 0.2rem #FFF,
    0 0 1rem #F4511E,
    0 0 1.5rem #F4511E,
    0 0 2.5rem #F4511E,
    inset 0 0 2.8rem #F4511E
}

ds-trait::part(trait1) {
  font-size: 1.8rem;
  color: #ffcc9d;
}

ds-trait::part(trait2) {
  font-size: 1.5rem;
  color: #607D8B;
}

ds-trait::part(trait3) {
  font-size: 2.2rem;
  color: #F9A825;
}

ds-trait::part(trait4) {
  font-size: 1.4rem;
  color: #9c9c9c;
}



#portrait {
  grid-area: portrait;
  background-color: aqua;
  border-radius: 15px;
}

#portfolio {
  grid-area: portfolio;
  background-color: red;
  border-radius: 15px;
}

#hero {
  grid-area: hero;
  background-color: orange;
  border-radius: 15px;
}

#cta {
  grid-area: cta;
  background-color: bisque;
  border-radius: 15px;
}
