@property --animate-border {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes border-effect {
  0% {
    --animate-border: 0deg;
  }

  100% {
    --animate-border: 360deg;
  }
}

:root {
  --primary-color: #242f36;
  --secondary-color: #0f161a;
  --accent-one: #3e3a47;
  --accent-two: #777887;
}

html {
  font-size: 9px;
}

* {
  box-sizing: border-box;
  color: #FFF;
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: var(--secondary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

#app {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
        "titles"
        "nameloc"
        "slogan"
        "langs"
        "tools"
        "portfolio"
        "contact"
        "social"
        "portrait"
        "trait"
        "persona";
  row-gap: 1rem;
  overflow: hidden;
  position: relative;
}

#developer-titles {
  grid-area: titles;
  width: auto;
  background-color: var(--primary-color);
  display: flex;
  white-space: wrap;
}

#developer-titles::part(ds-text-title) {
  white-space: wrap;
  font-size: 1.4rem;
  padding: 1rem;
}


#wrap-info {
  grid-area: nameloc;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 1rem;
}

#wrap-info ::part(ds-text-title) {
  font-size: 1.4rem;
}

#slogan {
  grid-area: slogan;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 1rem 0.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#slogan::part(ds-slogan-text) {
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin: 0;
}

#slogan::part(ds-slogan-button) {
  padding: 1rem;
  font-size: 1.3rem;
  color: #FFF;
  position: relative;
  background: linear-gradient(45deg, #ea698b, #c05299, #ac46a1, #973aa8, #6247aa);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow .3s ease;
  float: right;
}

::part(ds-slogan-button):hover {
  box-shadow:
          0 0 0.2rem #FFF,
          0 0 1rem #9d4edd,
          0 0 1.5rem #9d4edd,
          0 0 2.8rem #9d4edd,
          inset 0 0 2.8rem #9d4edd;
;
}

#grid-langs {
  grid-area: langs;
}

#grid-tools {
  grid-area: tools;
}

#grid-langs,
#grid-tools {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  row-gap: 10px;
  padding: 1rem;
  grid-auto-rows: min-content;
}

::part(resource),
::part(expand-to-modal) {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.4rem;
  text-decoration: none;
  background: linear-gradient(45deg, #ea698b, #c05299, #ac46a1, #973aa8, #6247aa);
  border-radius: 15px;
  margin: 5px 0;
  padding: 10px 30px;
  color: #FFF;
}

#portfolio {
  grid-area: portfolio;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 15px;
  height: 500px;
  scroll-snap-type: x mandatory;
}

ds-project-wrapper::-webkit-scrollbar {
  height: .8rem;
}

ds-project-wrapper::-webkit-scrollbar-track {
  background: #B3E5FC;
  border-radius: 10px;
}

ds-project-wrapper::-webkit-scrollbar-thumb {
  background: #0288D1;
  border: 4px solid #4FC3F7;
  border-radius: 10px;
}

#portfolio ds-project {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  overflow: hidden;
  border-radius: 15px;
  background-color: #242f36;
  position: relative;
  height: 90%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scroll-snap-align: center;
}

::part(project-title) {
  width: 100%;
  text-align: center;
  background: linear-gradient(45deg, #ea698b, #c05299, #ac46a1, #973aa8, #6247aa);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 2rem;
}


::part(interactive-wrapper) {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
}

::part(live-demo-url),
::part(expand-to-modal) {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.4rem;
  text-decoration: none;
  background: linear-gradient(45deg, #ea698b, #c05299, #ac46a1, #973aa8, #6247aa);
  border-radius: 15px;
  margin: 5px 0;
  padding: 10px 30px;
  color: #FFF;
}

::part(svg) {
  width: 20px;
  height: 20px;
  align-self: center;
}

::part(svg-left) {
  margin-right: 0.5rem;
}

::part(svg-right) {
  margin-left: 1.5rem;
}

::part(transparent-bg) {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.76);
  transition: .3s linear;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

::part(expand-to-modal) {
  cursor: pointer;
}

ds-contact {
  grid-area: contact;
  border-radius: 15px;
  padding: 1rem 0;
  transition: box-shadow .5s ease-in-out;
}

ds-contact:hover,
ds-contact:focus {
  box-shadow:
          0 0 0.2rem #FFF,
          0 0 1rem #546E7A,
          0 0 1.5rem #546E7A,
          0 0 2.8rem #546E7A,
          inset 0 0 2.8rem #546E7A;
}

::part(contact-title) {
  font-size: 2rem;
}

::part(label) {
  font-size: 1.4rem;
}

#social {
  grid-area: social;
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 100%;
  gap: 10%;
  justify-content: center;
  padding: 1rem 0;
}

#social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
}

#portrait {
  grid-area: portrait;
  height: 50svh;
  border-radius: 15px;
}


ds-trait {
  grid-area: trait;
  background-color: var(--primary-color);
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr min-content 1fr 1fr;
  position: relative;
  margin: 0.5rem 0.3rem;
}

ds-trait::before,
ds-trait::after {
  content: "";
  position: absolute;
  inset: -2px;
  z-index: -1;
  background: linear-gradient(var(--animate-border),
  #EF9A9A,
  #EF5350,
  #E53935,
  #C62828);
  animation: border-effect 10s linear infinite;
  border-radius: inherit;
}

ds-trait::after {
  filter: blur(1rem);
}

ds-trait::part(trait1) {
  font-size: 3rem;
  color: #ffcc9d;
}

ds-trait::part(trait2) {
  font-size: 2.7rem;
  color: #607D8B;
}

ds-trait::part(trait3) {
  font-size: 3.2rem;
  color: #F9A825;
}

ds-trait::part(trait4) {
  font-size: 2.5rem;
  color: #9c9c9c;
}


#persona {
  grid-area: persona;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 1rem 1.5rem;
  width: 100%;
  margin-bottom: 20px;
}

#persona::part(ds-text-title) {
  font-size: 2.5rem;
}

#persona .about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.why-wrapper {
  background: linear-gradient(200deg, rgba(201, 123, 213, 0.7), rgba(186, 104, 200, 0.7), rgba(103, 58, 183, 0.7));
}

.who-wrapper {
  background: linear-gradient(200deg, rgba(239, 162, 73, 0.5), rgba(171, 113, 46, 0.5), rgba(61, 40, 16, 0.5));
}

.how-wrapper {
  background: linear-gradient(200deg, rgba(224, 54, 54, 0.5), rgba(154, 37, 37, 0.5), rgba(61, 14, 14, 0.5));
}

.inner-wrapper {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 1.5rem 0;
}

.inner-wrapper ds-svg-wrap {
  margin: 0.5rem 0;
}

.inner-wrapper h3 {
  width: 100%;
  font-size: 2rem;
  background-color: var(--primary-color);
  text-align: center;
  padding: 0.5rem 0;
}

.inner-wrapper p {
  font-size: 1.6rem;
  padding: 0 1rem;
  text-align: center;
  margin-top: 0.5rem;
}

#persona .about-container p {
  margin-bottom: 1rem;
}

ds-text {
  background-color: var(--primary-color);
}

ds-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: all .5s ease-in;
  z-index: 10;
}

.toggle-modal {
  transform: translateX(0%);
}

ds-modal::part(modal-container) {
  position: relative;
  width: 50%;
  height: 70%;
  background-color: #26373d;
  z-index: 10;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

ds-modal::part(navbar-control) {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #FFF;
  margin-bottom: 20px;
}

ds-modal::part(modal-title) {
  margin-left: 1.1rem;
}

ds-modal::part(close-btn) {
  font-size: 1.5rem;
  background-color: transparent;
  padding: 0;
  border: none;
  margin-right: 1.1rem;
  color: #FFF;
}

ds-modal::part(close-btn):hover {
  cursor: pointer;
}

ds-modal::part(project-type) {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}

ds-modal::part(tech-type) {
  overflow-x: hidden;
  overflow-y: scroll;
  flex-direction: column;
  padding: 0 20px;
}

/* Styling for Project type modal. */
ds-modal::part(project-content-wrapper) {
  display: grid;
  box-sizing: border-box;
  grid-template-areas:
            "title title title"
            "desc desc screenshot"
            "desc desc screenshot"
            "desc desc links"
            "desc desc techs"
            "desc desc techs"
;
  grid-template-rows: min-content;
  grid-template-columns: 1fr 1fr 1.2fr;
  column-gap: 10px;
  width: 100%;
  flex-shrink: 0;
  padding: 20px;
  scroll-snap-align: center;
}

ds-modal::part(modal-project-title) {
  grid-area: title;
}

ds-modal::part(modal-links-wrapper) {
  grid-area: links;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ds-modal::part(project-urls) {
  display: flex;
  text-decoration: none;
  background-color: #FFF;
  justify-content: center;
  padding: 10px 30px;
  width: 70%;
  margin-bottom: 15px;
  border-radius: 10px;
}

ds-modal::part(modal-project-image) {
  grid-area: screenshot;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

ds-modal::part(modal-project-description-wrapper) {
  grid-area: desc;
  display: flex;
  flex-direction: column;
}

ds-modal::part(project-paragraph) {
  margin-bottom: 1.2rem;
}


/* Styling for tech type modal. */
ds-modal::part(tech-content-wrapper) {
  padding: 20px;
  margin: 20px 0;
  border-radius: 15px;
  display: flex;
  background: linear-gradient(45deg, #37474F, #546E7A, #78909C);
}

ds-modal::part(symbol-icon-wrapper) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

ds-modal::part(logo-title) {
  text-align: center;
}

ds-modal::part(symbol-text-wrapper) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 75%;
}

ds-modal::part(svg-img) {
  height: 50px;
  width: 50px;
}

ds-modal::part(tech-stack-wrapper) {
  grid-area: techs;
}

ds-modal::part(inner-tech-stack-wrapper) {
  display: grid;
  grid-template-columns: repeat(8, min-content);
  width: 100%;
  height: min-content;
  gap: 1%;
  overflow: hidden;
  padding: 10px;
}

ds-modal::part(img-wrapper-project) {
  width: 30px;
  height: 30px;
}

ds-modal::part(svg-img-project) {
  height: 30px;
  width: 30px;
}


ds-modal::part(invisible-overlay) {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 9;
}



@media only screen and (min-width: 340px) {
  html {
    font-size: 10px;
  }

  #app {
    width: 100%;
    max-width: 470px;
  }
}
@media only screen and (min-width: 420px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 720px) {
  html {
    font-size: 14px;
  }

  #app {
    max-width: 800px;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "titles titles"
        "nameloc social"
        "slogan portrait"
        "trait portrait"
        "portfolio portfolio"
        "persona langs"
        "persona tools"
        "persona contact";

    column-gap: 1rem;
  }

  #persona {
    margin-bottom: unset;
  }

}

@media only screen and (min-width: 1200px) {
  #app {
    max-width: 900px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "titles titles"
      "trait nameloc"
      "trait social"
      "slogan portrait"
      "portfolio portfolio"
      "langs contact"
      "tools contact"
      "persona persona"
  ;
  }

  #portrait {
    height: 35svh;
  }


  #persona .about-container {
    flex-direction: row;
    margin-bottom: 2rem;
  }

  #persona .inner-wrapper {
    width: 30%;
  }

  ds-trait::part(trait1) {
    font-size: 2rem;
  }

  ds-trait::part(trait2) {
    font-size: 1.5rem;
  }

  ds-trait::part(trait3) {
    font-size: 2.5rem;
  }

  ds-trait::part(trait4) {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1300px) {
  #app {
    max-width: 1800px;
    grid-template-columns: minmax(40px, auto) repeat(3, 1fr) minmax(40px, auto);
    grid-template-areas:
            ". titles nameloc social ."
            ". slogan portrait contact ."
            ". langs tools trait ."
            ". portfolio portfolio portfolio ."
            ". persona persona persona ."
  ;

    margin: 20px 0;
  }

  #slogan::part(ds-slogan-text) {
    font-size: 2.8rem;
    line-height: 3rem;
  }

  #portrait {
    height: 100%;
  }
}

@media only screen and (min-width: 1600px) {
  body {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #app {
    height: 100%;
    max-height: 1000px;
    max-width: 1800px;
    grid-template-rows: minmax(10px, 10px) 0.7fr 0.5fr repeat(2, 1fr) 1fr 0.7fr repeat(2, 1fr) 1.5fr minmax(10px, auto);
    grid-template-columns: minmax(40px, auto) repeat(5, 1fr) minmax(40px, auto);
    grid-template-areas:
      ". . . . . . ."
      ". slogan slogan slogan titles titles ."
      ". slogan slogan slogan portrait nameloc ."
      ". slogan slogan slogan portrait contact ."
      ". slogan slogan slogan portrait contact ."
      ". langs tools trait portrait contact ."
      ". langs tools trait social contact ."
      ". portfolio portfolio portfolio persona persona ."
      ". portfolio portfolio portfolio persona persona ."
      ". portfolio portfolio portfolio persona persona ."
      ". . . . . . ."
    ;
    gap: 10px;
    height: 100%;
    position: relative;
    margin: 0;
  }

  #wrap-info::part(ds-text-title) {
    font-size: 1rem;
  }

  ds-trait {
    margin: 0;
  }

  #portrait {
    height: 100%;
  }

  #grid-langs, #grid-tools {
    grid-auto-rows: min-content;
    row-gap: 5%;
    padding: 10px;
  }

  #slogan {
    padding: 35px;
  }

  #slogan::part(ds-slogan-text) {
    font-size: 3.5rem;
    line-height: 3rem;
  }

  #slogan::part(ds-slogan-button) {
    font-size: 2rem;
    margin-top: 5px;
  }

  #developer-titles::part(ds-text-title) {
    font-size: 1.2rem;
  }

  #wrap-info ::part(ds-text-title) {
    font-size: 1rem;
  }

  #persona {
    height: 100%;
  }

  #persona .about-container {
    margin: 0;
  }

  #persona .inner-wrapper {
    margin: 0;
  }

  #persona::part(ds-text-title) {
    font-size: 2rem;
    overflow: unset;
    margin-bottom: 5px;
  }

  .inner-wrapper h3 {
    font-size: 1.3rem;
  }

  #persona .inner-wrapper p {
    font-size: 1.15rem;
    margin-bottom: 0;
    margin-top: 1px;
  }

  #portfolio {
    height: unset;
  }

  #portfolio ::part(project-title) {
    margin: 0;
  }

}

